build
./build
/build
node_modules
./node_modules
/node_modules
public/style.css
./public/style.css
/public/style.css
public/fonts
./public/fonts
/public/fonts
./src/App.css
src/App.css
./src/style.css
src/style.css
dist
./dist